<div class="container listing-detail" id="about">
  <div class="project-detail" id="about-face">
    <div class="tint" >
      <div class="center-wrap">
        <h1>ABOUT</h1>
      </div>
    </div>
  </div>
  <section>
    <h2>This is the online portfolio of Mike Fausz, graduate of Macalester College and The Iron Yard Charleston.</h2>
  </section>

  <section>
    <ul class="flex">
      <li>
        <a href="../images/me/mikeFauszResume.pdf">
          <div class="box" id="resume">
            <div class="center-wrap-sm">
              <div class="icon-box">
                <img src="../images/icons/resume-icon.png" alt="" />
              </div>
              <h2>Click for his resume</h2>
            </div>
          </div>
        </a>
      </li>
      <li>
        <div class="box prof-img">

        </div>
      </li>
    </ul>
  </section>
