<div class="container listing-detail" id="about">
  <div class="project-detail" id="about-face">
    <div class="tint" >
      <div class="center-wrap">
        <h1>ABOUT</h1>
      </div>
    </div>
  </div>

  <section>
    <h2>Mike Fausz is a front end developer and designer based in Charleston, SC.</h2>
  </section>

  <section class="row">
    <div class="col-sm-6">
      <a href="../images/me/mikeFauszResume.pdf">
        <div class="box" id="resume">
          <div class="center-wrap-sm">
            <div class="icon-box">
              <img src="../images/icons/resume-icon.png" alt="" />
            </div>
            <h2>See his resume</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <div class="box prof-img">
        <img class="show" src="../images/me/about-side.png" alt="" />
        <img class="hide" src="../images/me/about-straight.png" alt="" />
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-sm-12">
      <h2>He does not like to talk about himself.</h2>
    </div>
  </section>
  
</div>
