<div id="contact">

  <div class="container listing-detail">
    <div class="project-detail page-banner" id="contact-img">
      <div class="tint" >
        <div class="center-wrap">
          <h1>CONTACT</h1>
        </div>
      </div>
    </div>

    <section>
      <h2>Hit him up.</h2>
    </section>

    <section class="row">
      <div class="col-sm-6 skill-li" ng-repeat="contact in contacts">
        <a ng-href="{{ contact.link }}">
          <div ng-style="{'background-color': contact.color}" class="box" >
            <div class="center-wrap-sm">
              <div ng-style="{'width': contact.iconwidth}" class="icon-box">
                <img ng-src="{{ contact.icon }}" alt="" />
              </div>
              <h2>{{ contact.name }}</h2>
            </div>
          </div>
        </a>
      </div>
    </section>

  </div>
</div>
