<div class="container">

  <section id="splash">
      <h1>Mike Fausz</h1>
      <h2>Developer // Designer</h2>
  </section>

  <section id="about">
    <ul class="flex">
      <li class="about-text">
        <!-- <div > -->
          <name-rhymer
            mikes="mikes"
            fauszs="fauszs">
          </name-rhymer>
        <!-- </div> -->
      </li>
      <li>
        <div class="box prof-img">

        </div>
      </li>
    </ul>
</section>

<section id="work">
  <h2>Mike Fausz is a real-live human being who develops software and designs clean user experiences.</h2>
</section>

<section>
  <ul class="flex">
    <project-listing ng-repeat="project in projects | limitTo:4"
      name="{{ project.name }}"
      displayname="{{ project.displayname }}"
      number="{{ project.number }}"
      color="{{ project.color }}"
      font="{{ project.font }}"
      fontsize="{{ project.fontsize }}"
      url="{{ project.url}}"
      cover="{{ project.cover }}"
      box="{{ project.box }}"
      header="{{ project.header }}"
      description="{{ project.descShort }}"
      tech="{{ project.tech }}"
      images="{{ project.images }}">
    </project-listing>
  </ul>
</section>

<section>
  <div class="box-full">
    <a href="/#/projects">
      <h2>See more of his work here</h2>
    </a>
  </div>
</section>

<section>
  <h2>He knows a few things.</h2>
</section>

<section class="skills">
  <ul class="flex">
    <skills-jumbler ng-repeat="skill in skills track by $index"
      number="{{ skill.number }}"
      skillname="{{ skill.skillname }}"
      color="{{ skill.color }}"
      technologies="skill.technologies">
    </skills-jumbler>
  </ul>
</section>

<section>
  <div class="box-full">
    <a href="/#/skills">
      <h2>See what else he knows here</h2>
    </a>
  </div>
</section>

<section>
  <h2>He is currently available for hire.</h2>
</section>

<section>
  <div class="box-full">
    <a href="/#/contact">
      <h2>Get in touch with him here</h2>
    </a>
  </div>
</section>

</div>
