<div class="container listing-detail">
  <div class="project-detail" ng-style="{'background-image': 'url({{ project.header }})'}">
    <div class="tint" ng-style="{'background-color': project.color}">
      <div class="center-wrap">
        <h1 ng-style="{'font': project.font}">{{ project.displayname }}</h1>
      </div>
    </div>
  </div>

  <h2 class="project-summary">{{ project.summary }}</h2>

  <section>
    <a ng-href="{{ project.urls[0] }}">
      <div class="project-main-image">
        <img ng-src="{{ project.images[0]}}" alt="" />
      </div>
    </a>
  </section>

  <section>
    <tech-jumbler
      technologies="project.technologies"
      color="{{ project.color }}">
    </tech-jumbler>

    <div class="row">
      <div class="col-sm-6 skill-li" ng-repeat="link in links track by $index">
        <a ng-href="{{ project.urls[ $index ]}}">
          <div ng-style="{'background-color': link.color }" class="box" >
            <div class="center-wrap-sm">
              <div ng-style="{'width': link.iconwidth}" class="icon-box">
                <img ng-src="{{ link.icon }}" alt="" />
              </div>
              <h2>{{ link.text }}</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section>
    <h2 class="project-description">{{ project.description }}</h2>
  </section>

  <ul class="row">
    <div class="col-sm-6">
      <div class="box-tall">
        <img ng-src="{{ project.images[1]}}" alt="" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box-tall">
        <img ng-src="{{ project.images[2]}}" alt="" />
      </div>
    </div>
  </ul>

  <section>
    <h2 class="project-description">{{ project.elab }}</h2>
  </section>

  <ul class="row">
    <div class="col-sm-6">
      <div class="box-tall">
        <img ng-src="{{ project.images[3]}}" alt="" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box-tall">
        <img ng-src="{{ project.images[4]}}" alt="" />
      </div>
    </div>
  </ul>

  <section>
    <div ng-style="{'background-color': project.color}" class="box-full">
      <h2>More Projects</h2>
    </div>
    <div class="row project-nav">
      <project-listing
        name="{{ prevProject.name }}"
        displayname="{{ prevProject.displayname }}"
        number="{{ prevProject.number }}"
        color="{{ prevProject.color }}"
        font="{{ prevProject.font }}"
        cover="{{ prevProject.cover }}"
        box="{{ prevProject.box }}"
        header="{{ prevProject.header }}"
        desc="{{ prevProject.descShort }}"
        tech="{{prevProject.tech}}">
      </project-listing>
      <project-listing
        name="{{ nextProject.name }}"
        displayname="{{ nextProject.displayname }}"
        number="{{ nextProject.number }}"
        color="{{ nextProject.color }}"
        font="{{ nextProject.font }}"
        cover="{{ nextProject.cover }}"
        box="{{ nextProject.box }}"
        header="{{ nextProject.header }}"
        desc="{{ nextProject.descShort }}"
        tech="{{ nextProject.tech }}">
      </project-listing>
    </div>
  </section>

</div>
