<div class="container listing-detail">
  <div class="project-detail" id="projects-img">
    <div class="tint" >
      <div class="center-wrap">
        <h1>WORK</h1>
      </div>
    </div>
  </div>

  <section>
    <h2> His work has not been featured in any publications worth bragging about.</h2>
  </section>

  <section>
    <ul class="flex">
      <project-listing ng-repeat="project in projects"

        name="{{ project.name }}"
        displayname="{{ project.displayname }}"
        number="{{ project.number }}"
        color="{{ project.color }}"
        font="{{ project.font }}"
        fontsize="{{ project.fontsize }}"
        cover="{{ project.cover }}"
        box="{{ project.box }}"
        header="{{ project.header }}"
        description="{{ project.descShort }}"
        tech="{{ project.tech }}"
        images="{{ project.images }}">

      </project-listing>
    </ul>
  </section>

</div>
