@font-face {
  font-family: Sedgwick Co;
  src: local("Sedgwick Co"); }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #F44336; }

a {
  text-decoration: none; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8); }
  nav a {
    color: #F44336; }

.nav-wrap {
  width: 1022px;
  margin: 0 auto;
  padding: 10px 0 20px 0; }

.nav-logo {
  padding-top: 10px; }

.nav-links-wrap {
  font-family: "Montserrat";
  text-align: right;
  padding-top: 10px;
  width: 50%; }
  .nav-links-wrap li {
    padding-top: 16px;
    height: 20px; }
    .nav-links-wrap li:hover {
      border-bottom: 2px solid #F44336; }

.container {
  width: 1020px;
  margin: 0 auto; }

section {
  margin: 100px 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

li {
  display: inline-block; }

.tint {
  height: 100%;
  width: 100%; }

.logo {
  width: 180px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: 34%;
  left: 130px;
  padding-top: 32px;
  background-color: #F44336; }
  .logo h3 {
    color: black;
    font-size: 72px;
    letter-spacing: -17px;
    margin: 34px 16px;
    font-family: 'Sedgwick Co'; }

.logo-sm {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 100%;
  background-color: #F44336; }
  .logo-sm h3 {
    color: white;
    font-size: 20px;
    letter-spacing: -4px;
    margin: 0;
    padding: 16px 4px;
    font-family: 'Sedgwick Co'; }
  .logo-sm:hover {
    background-color: black;
    border: none !important; }

h1 {
  font-family: 'Montserrat'; }

h2 {
  font-family: "Lato";
  font-size: 48px; }

.box, .skillbox {
  width: 500px;
  height: 300px;
  display: inline-block; }

.box-full {
  width: 100%;
  color: white;
  background-color: #F44336;
  border: 6px solid #F44336; }
  .box-full a {
    color: white; }
  .box-full:hover {
    background-color: white; }
    .box-full:hover a {
      color: #F44336; }

.rhymebox {
  background-color: rebeccapurple; }
  .rhymebox h2 {
    margin: 0;
    color: #F44336; }
  .rhymebox:hover {
    cursor: pointer; }

#splash {
  margin: 150px 0; }
  #splash h1 {
    font-family: 'Montserrat';
    font-size: 100px;
    margin-bottom: 10px; }
  #splash h2 {
    font-size: 84px; }

#about .about-text {
  display: inline-block;
  width: 70%; }

#about p {
  font-family: "Lato";
  line-height: 1.8; }

#about img {
  float: right;
  display: inline-block; }

.project-listing {
  margin: 10px 0;
  transition: all .5s ease-in-out; }
  .project-listing:hover .tint {
    background-color: transparent !important; }
  .project-listing .tint {
    transition: all .5s ease-in-out; }
  .project-listing h2 {
    transition: all .5s ease-in-out; }

.project-box {
  width: 500px;
  height: 300px;
  text-align: center;
  position: relative;
  transition: all .5s ease-in-out; }
  .project-box:hover h2 {
    text-shadow: 0px 0px 6px #848484; }
  .project-box .tint {
    transition: all .5s ease-in-out; }
  .project-box h2 {
    color: white;
    transition: all .5s ease-in-out; }

.listing-detail {
  margin-top: 90px; }

.project-detail {
  height: 250px;
  width: 100%;
  overflow: hidden; }

.center-wrap, .center-wrap-sm {
  position: absolute;
  width: 1020px;
  height: 250px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white; }

.center-wrap-sm {
  width: 500px;
  height: 300px; }

.project-summary {
  text-align: center;
  margin: 50px 0; }

.project-main-image {
  width: 100%;
  height: 400px; }

.project-description {
  text-align: center;
  margin: 50px 0; }

#projects-img {
  background-image: url("https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4c01399b01c8b4b1c5a8cfcdee7cfea2");
  background-position-y: 60%; }
  #projects-img .tint {
    background-color: rgba(244, 67, 54, 0.5); }

#skills-img {
  background-image: url("https://images.unsplash.com/photo-1453806839674-d1a9087ca1ed?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6732ffac2eb50683b1a18b874e295a25");
  background-position-y: 96%; }
  #skills-img .tint {
    background-color: rgba(244, 67, 54, 0.5); }

#about-face {
  background-image: url("http://fillmurray.com/1200/400"); }
  #about-face .tint {
    background-color: rgba(244, 67, 54, 0.5); }

#contact-img {
  background-image: url("http://fillmurray.com/1200/400"); }
  #contact-img .tint {
    background-color: rgba(244, 67, 54, 0.5); }

.tech {
  text-align: center; }
  .tech ul {
    display: block; }
  .tech h3 {
    font-family: "Montserrat";
    text-transform: uppercase; }

.skillname {
  display: block;
  color: #F44336; }

.skillarray {
  display: none;
  color: #F44336; }

.skillbox {
  color: white !important;
  margin: 10px 0; }
  .skillbox:hover {
    cursor: pointer; }
    .skillbox:hover .skillname {
      display: none; }
    .skillbox:hover .skillarray {
      display: block; }

.icon-box {
  width: 70px;
  margin: 0 20px;
  transition: all .5s ease-in-out; }
  .icon-box:hover h4 {
    color: black; }
  .icon-box img {
    width: 100%; }
  .icon-box h4 {
    margin: 0;
    color: transparent;
    transition: all .5s ease-in-out; }
