// VARIABLES
$red: #F44336; // 	rgba(244, 67, 54, 1)

// FONTS
@font-face {
  font-family: Sedgwick Co;
  src: local("Sedgwick Co"),
}

// GLOBAL STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: $red;

  &::after{
   display:none;
   content: url('../images/me/about-side.png') url('../images/me/about-straight.png');
  }
}

a, a:focus, a:hover {
  text-decoration: none;
}

nav {
  background-color: rgba(255,255,255,.8);
}

.nav-wrap {
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.nav-logo {
  padding-top: 10px;
}

.nav-links-wrap {
  font-family: "Montserrat";
  text-align: right;
  padding-top: 10px;
  li {
    padding-top: 16px;
    padding-bottom: 2px;
    margin-left: 32px;
  }
}

.nav-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  a {
    color: $red;
  }
  li:hover {
    border-bottom: 2px solid $red;
  }
  .nav-links-hover {
      width: 50%;
  }
}

.nav-bottom {
  .logo-sm {
    img {
      vertical-align: middle;
    }
    &:hover {

    }
  }
  h4 {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-family: Lato;
    color: gainsboro;
  }
  a {
    display: inline-block;
    color: rgb(220,220,220);
  }
  a:hover {
    color: $red;
  }
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

section {
  margin: 100px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ul-margin {
  margin: 10px 0;
}

li {
  display: inline-block;
}

.tint {
  height: 100%;
  width: 100%;
  position: relative;
}

.logo {
  width: 180px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: 34%;
  left: 130px;
  padding-top: 32px;
  background-color: $red;
  h3 {
    color: black;
    font-size: 72px;
    letter-spacing: -17px;
    margin: 34px 16px;
    font-family: 'Sedgwick Co';
  }
}

.logo-sm {
  width: 50px;
  height: 50px;
  padding: 0;
  img {
    width: 100%;
  }
  &:hover {
  }
}

h1 {
  font-family: 'Montserrat'
}

h2 {
  font-family: "Lato";
  font-size: 48px;
}

.box {
  width: 100%;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.box-3 {
  @extend .box;
  width: 300px;
  height: 300px;
  img {
    height: 100%;
  }
}

.box-tall {
  @extend .box;
  height: 400px;
  img {
    height: 100%;
  }
}

.box-full {
  width: 100%;
  color: white;
  h2 {
    padding: 30px 0;
  }
  a {
    color: white;
  }
}

#home {
  .box-full {
    background-color: $red;
    border: 6px solid $red;
    &:hover {
      background-color: white;
      a {
        color: $red;
      }
    }
  }
}

.rhymebox {
  background-color: rebeccapurple;
  h2 {
    margin: 0;
    color: $red;
  }
  &:hover {
    cursor: pointer;
  }
}
///////////// HOME project-main-image
#splash {
  margin: 150px 0;
  h1 {
    font-family: 'Montserrat';
    font-size: 100px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 84px;
  }
}


// PROJECT LISTING DIRECTIVE
.project-listing {
  margin: 10px 0;
  width: 100%;
  transition: all .5s ease-in-out;
  background-position: center;
  background-size: cover;
  &:hover {
    .tint {
      background-color: transparent !important;
    }
  }
  .tint {
    transition: all .5s ease-in-out;
  }
  h2 {
    transition: all .5s ease-in-out;
  }
}

.project-box {
  width: 100%;
  height: 300px;
  text-align: center;
  position: relative;
  transition: all .5s ease-in-out;
  &:hover {
    h2 {
      text-shadow: 0px 0px 6px rgba(132, 132, 132, 1);
      // transform: scale(1.1);
    }
  }
  .tint {
    transition: all .5s ease-in-out;
  }
  h2 {
    color: white;
    transition: all .5s ease-in-out;
  }
}


/////////// WORK PAGE
.listing-detail {
  margin-top: 90px;
}

.project-detail {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.center-wrap {
  position: absolute;
  width: 100%;
  height: 250px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.center-wrap-sm {
  @extend .center-wrap;
  width: 100%;
  height: 300px;
}

.project-summary {
  text-align: center;
  margin: 50px 0;
}

.project-main-image {
  width: 100%;
  height: 600px;
  img {
    width: 100%;
  }
}

.project-description {
  text-align: center;
  margin: 50px 0;
}

#projects-img {
  background-image: url('https://images.unsplash.com/photo-1417733403748-83bbc7c05140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4c01399b01c8b4b1c5a8cfcdee7cfea2');
  background-position-y: 60%;
  .tint {
    background-color: rgba(244, 67, 54, .5);
  }
}

#skills-img {
  background-image: url('https://images.unsplash.com/photo-1453806839674-d1a9087ca1ed?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6732ffac2eb50683b1a18b874e295a25');
  background-position-y: 96%;
  .tint {
    background-color: rgba(244, 67, 54, .5);
  }
}

#about-face {
  background-image: url('../images/me/about-header.png');
  background-size: 1046px;
  .tint {
    background-color: rgba(244, 67, 54, .5);
  }
}

#contact-img {
  background-image: url("https://images.unsplash.com/photo-1434296159862-a6c213a9316f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7e1be860fcc08d547ee85d6d933f62bd");
  background-size: 120%;
  background-position-y: -220px;
  background-position-x: -37px;
.tint {
    background-color: rgba(244, 67, 54, .5);
  }
}

.tech {
  text-align: center;
  ul {
    display: block;
  }
  h3 {
    font-family: "Montserrat";
    text-transform: uppercase;
  }
}

.skillname {
  display: block;
  color: $red;
}

.skillarray {
  display: none;
  color: $red;
}

.skillbox {
  @extend .box;
  color: white !important;
  margin: 10px 0;
  &:hover {
    cursor: pointer;
    .skillname {
      display: none;
    }
    .skillarray {
      display: block;
    }
  }
}

.tech-jumbler {
  @extend .box-full;
  margin: 10px 0;
  h2 {
    color: white;
  }
  &:hover {
    cursor: pointer;
    .skillname {
      display: none;
    }
    .skillarray {
      display: block;
    }
  }
}

#skills {
  .box-full {
    border: none;
    color: $red;
  }
}

.skill-li {
  margin: 10px 0;
  &:hover {
    .icon-box {
      display: block;
    }
    h2 {
      display: none;
    }
  }
}

.icon-box {
  margin: 0 auto;
  display: none;
  img {
    width: 100%;
  }
}

#resume {
  background-color: $red;
  .icon-box {
    display: none;
    width: 100px;
  }
  &:hover {
    .icon-box {
      display: block;
    }
    h2 {
      display: none;
    }
  }
}

.prof-img {
  background-image: url('../images/me/about-side.png');
  background-position: center;
  background-size: cover;
  &:hover {
    background-image: url('../images/me/about-straight.png');
  }
}

@media only screen and (max-width: 1020px) {
  .box, .project-listing {
    margin: 20px 0;
  }
  .project-main-image {
    height: 276px;
  }
  #splash h1 {
    font-size: 88px;
}
  #splash h2 {
    font-size: 52px;
}
}

@media only screen and (max-width: 500px) {
  .nav-wrap {
    li {
          margin: 0 16px;
    }
  }
  #splash h2 {
    font-size: 36px;
}
  .hide-mobile {
    display: none;
  }
}
