$gold: #AF9D6E;
$red: #8C271E;
$olive: #6A7557;
$green: #29524A;
$serif: 'Roboto Slab', serif;
$sans: 'Roboto', sans-serif;

@font-face {
  font-family: Norwester;
  src: local("Norwester"),
}

@font-face {
  font-family: Sedgwick Co;
  src: local("Sedgwick Co"),
}

html, body {
  height: 100vh;
  text-align: center;
  font-family: 'Georgia';
}

.content {
  width: 100%;
  background: white;
}

.block {
  height: 100vh;
  padding: 40px 20%;
}

h1 {
  text-align: center;
  font-family: 'Norwester';
  font-size: 176px;
  margin-left: -12px;
}

h2 {
  font-size: 40px;
  margin: 16px 0;
  font-family: 'Sedgwick Co';
  text-align: left;
}

h3 {
  font-size: 3rem;
  font-family: 'Norwester';
  text-transform: uppercase;
  margin: 24px;
}

.logo {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: 0 auto;
  padding-top: 32px;
  background-color: $gold;
  h3 {
    color: black;
    font-size: 72px;
    letter-spacing: -17px;
    margin-left: 2px;
    font-family: 'Sedgwick Co';
  }
}

.logo-sm {
  @extend .logo;
  width: 60px;
  height: 60px;
  padding-top: 0px;
  h3 {
    color: white;
    font-size: 24px;
    letter-spacing: -4px;
    margin: 20px 0 0 -4px;
  }
}

.bar {
  width: 98%;
  height: 6px;
  background-color: $gold;
}

.bar-bottom {
  @extend .bar;
  margin-bottom: 36px;
}

#splash {
  background: url('https://images.unsplash.com/photo-1439003511744-2a0490ea0a88?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275');
  background-size: 100%;
  background-size: 106%;
  background-position-x: 98%;

  width: 100%;
  z-index: -1;
  position: fixed;
  padding: 0% 20%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: white;
  }
}

#buffer {
  background: none;
}
// #home2 {
//   text-align: center;
//   h1 {
//     font-family: 'Oswald';
//     text-transform: uppercase;
//     font-size: 26rem;
//     width: 60%;
//     margin: 0 auto;
//     line-height: .782;
//   }
//   h2  {
//     font-family: 'Raleway';
//     text-transform: uppercase;
//     font-size: 8.6rem;
//     font-weight: 100;
//     width: 54%;
//     margin: 15px auto;
//     line-height: .69;
//   }
// }
// #home {
//   display: block;
//   background: url('https://images.unsplash.com/photo-1439003511744-2a0490ea0a88?crop=entropy&dpr=2&fit=crop&fm=jpg&h=700&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275');
//   h1 {
//     font-family: $serif;
//     font-weight: 700;
//     width: 50%;
//     font-size: 15rem;
//     line-height: .85;
//     margin-top: 60px;
//     margin-bottom: 14px;;
//     margin-left: -4px
//   }
//   h2 {
//     font-family: $serif;
//     color: white;
//     font-weight: 100;
//     font-size: 10rem;
//     padding-top: 10px;
//     margin: 0 33%;
//     line-height: .85;
//   }
//   .bar {
//     height: 16px;
//     background-color: $gold;
//     width: 33.5%;
//   }
//   span {
//     color: $gold;
//     font-weight: 700;
//   }
// }

#about {
  text-align: left;
  .flex {
    width: 98%;
    display: flex;
    justify-content: space-between;
  }
  p {
    display: inline-block;
    width: 43%;
    font-size: 18px;
    text-align: left;
    margin-right: 12px;
    text-align: justify;
    span {
      float: left;
      font-size: 48px;
      margin: -8px 8px -10px 0px;
      font-family: 'Norwester';
    }
  }
}
p {

}

img {
  width: 100%;
}

.img-prof {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

#skills {
  background-color: $gold;
  color: black;
  .bar {
    background: white;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1%;
}

.icon-box {
  width: 80px;
  img {
    width: 100%;
  }
}

.carousel-inner {
  div {
    height: 400px;
  }
}

#contact {
  background: black;
  color: white;
  .logo {
    margin-top: 36px;
  }
}

.contact-line {
  .glyphicon, h4 {
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;
  }
  .glyphicon {
    color: $gold;
  }
  h4 {
    font-family: 'Norwester';
  }
}
